.auth {
  width: 77%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.auth > * {
  margin: 0 2rem;
  width: 50%;
}

.auth-form > * {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.auth-form {
  padding: 5rem 1rem;
}

.form-field {
  display: block;
}
